.footer{
    background-color: #222;
    text-align: center;
    padding: 3em;
    height: 15vh;
  

}
.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social_list li{
    margin: 0 1rem;
}
.social_list li:hover{
    color: #ffbb33;
}
.social_list li i:hover{
    color: #ffbb33;
  
}
.social_list li {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.copy_right{
    margin-top: 2em;
    color: white;
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}