@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: 0; /*Serve pros input não ultrapassarem a area maxima q eles estao*/
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #efefef;
  height: 100%;
  overflow-x: hidden;
}
