.myinput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.myinput input{
    width: 100%;
    padding: 0.7em;
    border: none;
}